
{% extends "chaopai/views/templates/admin-base.html" %}

{% block content %}

<div class="container">
  <h2>修改</h2>
  <form class="form-horizontal" action="/admin/edit-product" method="POST">
  <div class="control-group">
    <label class="control-label" for="inputEmail">名子</label>
    <div class="controls">
      <input type="text" name="name" value="{{p.name}}" placeholder="名子">
      <input type="hidden" name="types" value="service" >
       <input type="hidden" name="id" value="{{p.id}}" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">类型</label>
    <div class="controls">
      <select name="cat">
        <option {% ifequal p.cat "酒店" %}selected{% endifequal %}>酒店</option>
        <option {% ifequal p.cat "別墅" %}selected{% endifequal %}>別墅</option>
        <option {% ifequal p.cat "辦公空間" %}selected{% endifequal %}>辦公空間</option>
        <option {% ifequal p.cat "會所" %}selected{% endifequal %}>會所</option>
     
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">介绍</label>
    <div class="controls" >
      <textarea name="intro">{{p.intro}}</textarea>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      
      <button type="submit" class="btn">修改</button>
    </div>
  </div>
</form>
</div>

{%endblock%}

{% block js %}


<script>
     $("#{{menu}}").addClass("active")   
</script>


{% endblock%}
