<div class="menu row">
  <div class="arrow shit-bg span1" style="margin-left:20px;margin-top:0px;width:60px;height:45px;"> 
    <img src="/chaopai-img/right1.png" class="m-a" >
    <div class="caidan-wrap caidan caidan-in" >
      <div class="caidan ccc shit-bg-c span1">
      </div>
      
		     <div class="ai">

          <ul class="m-u" id="jsddm" style="display:block">
     
           <li class="m" style="margin-left:30px">
            <a href="/about-me" class="hand r-m">
              <p class="t-up">企業介紹<p>
              <p class="text-center t-down" style="line-height:1px;">About us</p></a>
          </li>
          <li class="m" >
            <a href="/product" class="r-m">
              <p class="t-up">產品中心<p>
              <p class="text-center t-down" style="line-height:1px;">Proucts</p>
             
            </a>
              <ul class="son-menu" style="z-index:10000;">
                <li class="sm" >
                  <a href="/product" style="">
                    <div>窗  簾</div>
                    <div>Curtain</div>
                  </a>
                </li>
                <li class="sm" >
                  <a href="/product">
                    <div>布  藝</div>
                    <div>Fabric</div>
                  </a>
                </li>
                <li class="sm" >
                  <a href="/product">
                    <div> 墻  紙 </div>
                    <div>Wallpaper</div>
                  </a>
                </li>
                <li class="sm" >
                  <a href="/product">
                    <div>地  毯</div>
                    <div>Carpet</div>
                  </a>
                </li>
                <li class="sm"  >
                  <a href="/product">
                    <div>工藝品</div>
                    <div>Crafts</div>
                  </a>
                </li>
                <li class="sm" >
                  <a href="/product">
                    <div>家  具</div>
                    <div>Furniture</div>
                  </a>
                </li>
              </ul>
            
          </li>
          <li class="m" >
            <a  href="/service" class="r-m">
              <p class="t-up">服務項目<p>
              <p class="text-center t-down" style="line-height:0px;">Services</p>
            </a>
          
              <ul class="son-menu" >
                <li class="sm" >
                  <a href="/service">
                    <div>酒 店</div>
                    <div>Hotel</div>
                  </a>
                </li>
                  <li class="sm" >
                  <a href="/service">
                    <div>別 墅</div>
                    <div>Villa</div>
                    </a>
                </li>
                  <li class="sm" >
                  <a href="/service">
                    <div>辦公空間</div>
                    <div>Office space</div>
                  </a>
                </li>
                  <li class="sm" >
                  <a href="/service">
                    <div>會 所</div>
                    <div>Clubhouse</div>
                  </a>
                </li>
              </ul>
      
          </li>
          <li class="m">
            <a href="/link-me" class="r-m">
              <p class="t-up">聯系方式<p>
                <p class="text-center t-down" style="line-height:0px;">Contact</p></a>
          </li>
        
    
         </ul>
      </div> 
    </div>
  </div>
  <div class="disabled  shit-bg logo-img" style="margin-top: 0px;
width: 80px;
height: 45px;
margin-left: 800px;"><a href="/">
      <img src="/chaopai-img/logo.png" ></a>
  </div>
</div> 




